DB_URL=jdbc:postgresql://localhost:5432/busticket
DB_USER=postgres
DB_PASSWORD=root
STRIPE_SECRET_KEY=sk_test_NOVI_KLJUC
STRIPE_PUBLISHABLE_KEY=pk_test_NOVI_KLJUC
JWT_SECRET=35a66503a668ae49294e5401c05ab76fc31928111d92308325323f40f161ffce99
JWT_AUDIENCE=bus-ticket-app
JWT_ISSUER=bus-ticket-app